<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736322578943-7kg8o9ncca3cj67h93lovbdduu9r65ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736322578943-7kg8o9ncca3cj67h93lovbdduu9r65ve</string>
	<key>API_KEY</key>
	<string>AIzaSyDzweQsyFTo4VvQRX-tmehalg_YYMmQNyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>736322578943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orgAero22</string>
	<key>PROJECT_ID</key>
	<string>orgaerodev</string>
	<key>STORAGE_BUCKET</key>
	<string>orgaerodev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736322578943:ios:a254be61bf74577a8f5fca</string>
</dict>
</plist>